.trending {

    padding: 20px 50px;

    .title {
        margin: 30px 0;
        h1 {
          font-family: Rubik;
          font-size: 38px;
          font-weight: 500;
          line-height: 50px;
          letter-spacing: 0em;
          text-align: left;
  
        }
        h2 {
          font-family: Rubik;
          font-size: 38px;
          font-weight: 500;
          line-height: 50px;
          letter-spacing: 0em;
          text-align: left;
          color: #8BAC3E;
        }
      }

    .cardtrending {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        padding: 15px;

        .cardproduct1 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 20px;
            height: 290px;
            width: 100%;
            background-color: #E6F3F5;
            box-shadow: 0px 11px 39px 0px #00000012;
            border-radius: 17px;
            cursor: pointer;
            h3 {
                font-family: Rubik;
                font-size: 26px;
                font-weight: 500;
                line-height: 50px;
                letter-spacing: 0em;
                text-align: left;

            }
            h4 {
                font-family: Rubik;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #8BAC3E;
            }
        }
        .cardproduct1:hover {
            background-image: url('../../assets/115\ 1.png');
    opacity: 0.5;
    background-size: cover;
        }
        .cardproduct2 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 20px;
            height: 290px;
            width: 100%;
            background-color: #E6F3F5;
            box-shadow: 0px 11px 39px 0px #00000012;
            border-radius: 17px;
            cursor: pointer;
            h3 {
                font-family: Rubik;
                font-size: 26px;
                font-weight: 500;
                line-height: 50px;
                letter-spacing: 0em;
                text-align: left;

            }
            h4 {
                font-family: Rubik;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #8BAC3E;
            }
        }
        .cardproduct2:hover {
            background-image: url('../../assets/115\ 1.png');
    opacity: 0.5;
    background-size: cover;
        }
        .cardproduct3 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 20px;
            height: 290px;
            width: 100%;
            background-color: #EAEEFA;
            box-shadow: 0px 11px 39px 0px #00000012;
            border-radius: 17px;
            cursor: pointer;
            h3 {
                font-family: Rubik;
                font-size: 26px;
                font-weight: 500;
                line-height: 50px;
                letter-spacing: 0em;
                text-align: left;

            }
            h4 {
                font-family: Rubik;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #8BAC3E;
            }
        }
        .cardproduct3:hover {
            background-image: url('../../assets/115\ 1.png');
    opacity: 0.5;
    background-size: cover;
        }
        .cardproduct4 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 20px;
            height: 290px;
            width: 100%;
            background-color: #F9EEF3;
            box-shadow: 0px 11px 39px 0px #00000012;
            border-radius: 17px;
            cursor: pointer;
            h3 {
                font-family: Rubik;
                font-size: 26px;
                font-weight: 500;
                line-height: 50px;
                letter-spacing: 0em;
                text-align: left;

            }
            h4 {
                font-family: Rubik;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #8BAC3E;
            }
        }
        .cardproduct4:hover {
            background-image: url('../../assets/115\ 1.png');
    opacity: 0.5;
    background-size: cover;
        }
        .cardproduct5 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 20px;
            height: 290px;
            width: 100%;
            background-color: #F0FEEB;
            box-shadow: 0px 11px 39px 0px #00000012;
            border-radius: 17px;
            cursor: pointer;
            h3 {
                font-family: Rubik;
                font-size: 26px;
                font-weight: 500;
                line-height: 50px;
                letter-spacing: 0em;
                text-align: left;

            }
            h4 {
                font-family: Rubik;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #8BAC3E;
            }
        }
        .cardproduct5:hover {
            background-image: url('../../assets/115\ 1.png');
    opacity: 0.5;
    background-size: cover;
        }
        .cardproduct6 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 20px;
            height: 290px;
            width: 100%;
            background-color: #F3F7D9;
            box-shadow: 0px 11px 39px 0px #00000012;
            border-radius: 17px;
            cursor: pointer;
            h3 {
                font-family: Rubik;
                font-size: 26px;
                font-weight: 500;
                line-height: 50px;
                letter-spacing: 0em;
                text-align: left;

            }
            h4 {
                font-family: Rubik;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #8BAC3E;
            }
        }
        .cardproduct6:hover {
            background-image: url('../../assets/115\ 1.png');
    opacity: 0.5;
    background-size: cover;
        }
        .cardproduct7 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 20px;
            height: 290px;
            width: 100%;
            background-color: #F3F7D9;
            box-shadow: 0px 11px 39px 0px #00000012;
            border-radius: 17px;
            cursor: pointer;
            h3 {
                font-family: Rubik;
                font-size: 26px;
                font-weight: 500;
                line-height: 50px;
                letter-spacing: 0em;
                text-align: left;

            }
            h4 {
                font-family: Rubik;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #8BAC3E;
            }
        }
        .cardproduct7:hover {
            background-image: url('../../assets/115\ 1.png');
    opacity: 0.5;
    background-size: cover;
        }
        .cardproduct8 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 20px;
            height: 290px;
            width: 100%;
            background-color: #EAEEFA;
            box-shadow: 0px 11px 39px 0px #00000012;
            border-radius: 17px;
            cursor: pointer;
            h3 {
                font-family: Rubik;
                font-size: 26px;
                font-weight: 500;
                line-height: 50px;
                letter-spacing: 0em;
                text-align: left;

            }
            h4 {
                font-family: Rubik;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #8BAC3E;
            }
        }
        .cardproduct8:hover {
            background-image: url('../../assets/115\ 1.png');
    opacity: 0.5;
    background-size: cover;
        }
    }

    .trendingbutton {
        margin-top: 50px;
        button {
            background-color: #8BAC3E;
            color: white;
            padding: 10px;
            border-radius: 100px;
            border: none;
            outline: none;
        }
    }
}
@media screen and (max-width:600px) {
    .cardtrending {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr) !important;
        justify-content: center;
        padding: 15px;
    }
}